# Ignorar arquivos de credenciais sensíveis
credentials.json
/.streamlit/secrets.toml
.env

# Ignorar arquivos de configuração do VSCode
.vscode/
*.code-workspace

# Ignorar arquivos e pastas de ambiente virtual Python
venv/
.env/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignorar logs e arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Ignorar arquivos criados pelo sistema operacional
.DS_Store
Thumbs.db
.idea/

# Ignorar arquivos específicos do Codespaces ou DevContainer
.devcontainer/
.github/
